SilverlightClient/Service References/CancelOrderService/CancelOrderService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RequestServer.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RequestServer.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CancelOrderRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CancelOrderRequest" nillable="true" type="tns:CancelOrderRequest" />
  <xs:simpleType name="ErrorCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fail" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCodes" nillable="true" type="tns:ErrorCodes" />
</xs:schema>