SilverlightClient/Service References/OrderPollingService/OrderPollingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderPollingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IOrderPollingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <netdx:Duplex DuplexMode="SingleMessagePerPoll" xmlns:netdx="http://schemas.microsoft.com/2008/04/netduplex" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7101/OrderPollingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7101/OrderPollingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7101/OrderPollingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResponseServer" />
      <xsd:import schemaLocation="http://localhost:7101/OrderPollingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ResponseServer.Messages" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderPollingService_GetOrderCancellations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderCancellations" />
  </wsdl:message>
  <wsdl:message name="IOrderPollingService_ReceiveOrderCancellations_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveOrderCancellations" />
  </wsdl:message>
  <wsdl:message name="IOrderPollingService_CancelOrderResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderPollingService">
    <wsdl:operation name="GetOrderCancellations">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPollingService/GetOrderCancellations" message="tns:IOrderPollingService_GetOrderCancellations_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveOrderCancellations">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPollingService/ReceiveOrderCancellations" message="tns:IOrderPollingService_ReceiveOrderCancellations_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrderResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPollingService/CancelOrderResponse" message="tns:IOrderPollingService_CancelOrderResponse_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IOrderPollingService" type="tns:IOrderPollingService">
    <wsp:PolicyReference URI="#CustomBinding_IOrderPollingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderCancellations">
      <soap12:operation soapAction="http://tempuri.org/IOrderPollingService/GetOrderCancellations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ReceiveOrderCancellations">
      <soap12:operation soapAction="http://tempuri.org/IOrderPollingService/ReceiveOrderCancellations" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrderResponse">
      <soap12:operation soapAction="http://tempuri.org/IOrderPollingService/CancelOrderResponse" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderPollingService">
    <wsdl:port name="CustomBinding_IOrderPollingService" binding="tns:CustomBinding_IOrderPollingService">
      <soap12:address location="http://localhost:7101/OrderPollingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:7101/OrderPollingService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>