SilverlightClient/Service References/OrderPollingService/OrderPollingService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7101/OrderPollingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResponseServer" />
  <xs:element name="GetOrderCancellations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOrderCancellations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResponseServer" minOccurs="0" name="pollingResponse" nillable="true" type="q1:CancelOrderResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>